@charset "UTF-8";
*{
    color: #333333;
}
.con{
    height: 100vh;
    margin-left: 300px;
    width: calc(100vw - 300px);
    padding-top: 20px;
    display: flex;
}
.box1{
    width: 200px;
    height: 730px;
    background-color: white;
    margin-top: 30px;
    margin-left: 50px;
}
.box2{
    position: relative;
    width: 1000px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
}
.title{
	font-size: 25px;
    color: #767676;
    font-family: 'Regular';
    padding: 10px 0px 0px 10px;
}
.money{
	height: 150px;
}
.money img{
	width: 200px;
    height: 100px;
    object-fit: contain;
}
.service > ul{
	line-height: 3;
}
.service >ul> li{
	padding: 8px 0;
	border-bottom: 1px solid #bebebe;
}
.email{
	font-size: 15px;
	font-family: 'Light';
}
.moneys{
	font-size: 20px;
	font-family: 'Bold';
	color: red;
}
.service > ul > li > span{
	font-size: 12px;
    font-family: 'Regular';
    color: #767676;
}
.service > ul > li > div{
	height: 30px;
	display: flex;
    justify-content: right;
    align-items: center;
}
.header{
	color: white;
    font-family: 'Regular';
    padding: 0px 0px 0px 10px;
}
.pay-header{
	border-radius:10px 10px 0px 0px;
	height: 30px;
    line-height: 30px;
    background-color: #00000078;
}
.name{
	font-size: 15px;
    font-family: 'Regular';
    color: #767676;
}
.price{
	margin-top: 10px;
    padding-left: 12px;
    font-size: 24px;
}
.price-list{
	display: flex;
	margin-top: 15px;
}
.price-list dl{
	flex-grow: 0;
	flex-basis: 135px;
	border-bottom:1px solid #bebebe;
	margin-left: 5px;
}
.price-list dl > dt > span{
	font-size: 18px;
	font-family: 'Light';
}
.price-point{
	height: 132px;
	border: 1px solid #767676;
	cursor: pointer;
}
dd > ul{
	display: flex;
}
dd{
	flex-grow: 1;
}
dd > ul > li{
	flex-basis: 0;
	flex-grow: 1;
	margin-left: 7px;
}
.pay-money{
	height: 50px;
    padding: 10px;
    background-color: #ddd;
    border-bottom: 1px solid #767676;
}
.payment{
    height: 300px;
    display: grid;
    margin: 10px;
    border: 1px solid #000;
    grid-template-columns: 2fr 2fr;
}
.dl{
	width: 135px;
    margin-left: 5px;
    background-color: #ddd;
    font-size: 18px;
	font-family: 'Light';
}
.dd{
	flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dls{
	flex-grow: 0;
	flex-basis: 135px;
	margin-left: 5px;
    font-size: 18px;
	font-family: 'Light';
	border-bottom: 1px solid #bebebe;
}
.dds{
	flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paying{
    width: 120px;
    height: 50px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: 18px;
    font-family: 'Regular';
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.dongeham{
    width: 115px;
    height: 75%;
    margin-left: 30px;
    background-color: white;
    border: 1px solid #767676;
    border-radius: 5px;
    color: #bebebe;
    cursor: pointer;
}

.dongehamnida{
    width: 115px;
    height: 75%;
    margin-left: 30px;
    background-color: white;
    border: 1px solid #767676;
    border-radius: 5px;
    color: red;
    cursor: pointer;
}
.dongehae{
	background-color: #bebebe42;
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 13px;
}
.payok{
	width: 100%;
    height: 100%;
    position: relative;
	border: 1px solid #000;
}
.payok > span{
	font-size: 12px;
    padding: 10px
}
.donge{
	height: 130px;
	display: flex;
}
.pay-progress{
	text-align: right;
}